<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='client.js') }}"></script>
</head>
<body>
    <h1>Chat Rooms</h1>
    <ul id="rooms">
        <li><a href="{{ url_for('room', room_name='room1') }}">Room 1</a></li>
        <li><a href="{{ url_for('room', room_name='room2') }}">Room 2</a></li>
    </ul>
</body>
</html>